{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <form method="POST">
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" name="signup" id="signup" aria-describedby="helpId" placeholder="Sign Up Here">
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-info btn-block" type="button">
                    Post    
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            {% for signup in signup %}
                <li class="list-group-item mb-4">
                    {{ post.body }}
                    <div>
                        <small>
                            &mdash;  {{ signup.author.first_name }} {{ signup.author.last_name }} 
                            <span class="float-right">
                                {{ moment(signup.date_created).fromNow() }}
                            </span>
                        </small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}


